@import '@/styles/variables.module.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
p {
    font-size: 2.2rem;
    color: $white;
}
h1 {
    font-size: 3.5rem;
    color: $white;
}
h2, h3 {
    color: $white;
}
button {
    font-size: 2rem;
    color: $white;
    background-color: transparent;
    border: 1px solid $sweetred;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
        box-shadow: 3px 3px 3px $sweetred;
    }
}