@import '@/styles/variables.module.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: $richblack;
}
p {
    font-size: 2.2rem;
    color: $white;
}
h1 {
    font-size: 3.5rem;
    color: $white;
}
h2, h3 {
    font-size: 2.5rem;
    color: $white;
}
a {
    text-decoration: none;
    color: $bluestone;
}
button {
    font-size: 2rem;
    color: $white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.459);
    border: 1px solid $seagreen;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
        box-shadow: 3px 3px 3px $seagreen;
    }
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $richblack;
  }
  ::-webkit-scrollbar-thumb {
    background: #455d69;
    border-radius: 40px;
  }
  .Typescript {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 102, 255);
}
.NextJs {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(153, 0, 255);
}
.PostgresSQL {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(17, 0, 255);
}
.Sequelize {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(3, 151, 40);
}
.Html {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 81, 0);
}
.CSS {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 81, 0);
}

