@import '@/styles/variables.module.scss';

.main {
    background-color: $richblack;
    width: 100%;
    height: 100vh;

}
.img { 
    background-image: radial-gradient(transparent, #060c0f 90%), url('/Hexagon.svg');
    width: 800px;
    height: 500px;
}
.zind {
    z-index: 0;
}
