@import '@/styles/variables.module.scss';
.conteiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.careerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    position: relative;
    overflow: hidden;
}
.timelineContent {
    width: 3px;
    background-color: $bluestone;
    position: relative;
}
.datePoint {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $richblack;
    border: 3px solid $bluestone;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    z-index: 8;
    p {
        text-align: center;
        font-size: 1.3rem;
    }
}
.points {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $richblack;
    width: 40px;
    height: 40px;
    border: 3px solid $bluestone;
    border-radius: 50%;
    z-index: 5;
    

    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    p {
       font-size: 1rem; 
       text-align: center;
    }
}
.firstPoint {
    @extend .points;

}
.point2 {
    @extend .points;
    top: 200px;
    width: 20px;
    height: 20px;
}
.point3 {
    @extend .points;
    top: 400px;
    width: 20px;
    height: 20px;
}
.point22, .point33 {
    @extend .points;
    display: none
}
.lastPoint {
    @extend .points;
    top: 100%;
    width: 20px;
    height: 20px;
}
// ------------- cards styles ------------ //
.cards{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    position: absolute;
    .lines {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: lines;
        .line1 {
            width: 30px;
            height: 30px;
            border-top: 3px solid $bluestone;
            border-right: 3px solid $bluestone;
        }
        .line2 {
            width: 50px;
            height: 30px;
            border-bottom: 3px solid $bluestone;
        }
        .line3 {
            width: 50px;
            height: 30px;
            border-bottom: 3px solid $bluestone;
            border-right: 3px solid $bluestone;
        }
        .line4 {
            width: 30px;
            height: 30px;
            border-top: 3px solid $bluestone;
        }
        .line5 {
            width: 50px;
            height: 30px;
            border-top: 3px solid $bluestone;
        }
        .line6 {
            width: 60px;
            height: 30px;
            border-bottom: 3px solid $bluestone;
            border-left: 3px solid $bluestone;
            border-right: 3px solid $bluestone;
        }
        .line7 {
            width: 30px;
            height: 30px;
            border-top: 3px solid $bluestone;
        }
        .line8 {
            width: 30px;
            height: 30px;
            border-bottom: 3px solid $bluestone;
        }
        .line9 {
            width: 60px;
            height: 30px;
            border-top: 3px solid $bluestone;
            border-left: 3px solid $bluestone;
            border-right: 3px solid $bluestone;
        }
        .line10 {
            width: 60px;
            height: 30px;
            border-bottom: 3px solid $bluestone;
        }
    }

}
.cardTextContent {
        grid-area: textContent;
        border: 3px solid $bluestone;
        width: 400px;
        padding: 10px;
        border-radius: 0px 20px 0px 20px; 
        
        p {
            font-size: 1.5rem;
            text-align: justify;
        }
    }
.card1 {
    @extend .cards;
    top: 90px;
    grid-template-areas:'lines textContent';
}
.textContent1 {
    @extend .cardTextContent;
}
.card2 {
    @extend .cards;
    top: 40px;
    right: 100%;
    grid-template-areas:'textContent lines';
}
.textContent2 {
    @extend .cardTextContent; 
}
.card3 {
    @extend .cards;
    top: 290px;
    grid-template-areas:'lines textContent';
}
.textContent3 {
    @extend .cardTextContent;
}
.card4 {
    @extend .cards;
    top: 250px;
    right: 100%;
    grid-template-areas:'textContent lines';
}
.textContent4 {
    @extend .cardTextContent;
       
}
.card5 {
    @extend .cards;
    top: 410px;
    grid-template-areas:'lines textContent';
}
.textContent5 {
    @extend .cardTextContent;
    margin-top: 40px;
}
.card6 {
    @extend .cards;
    top: 480px;
    right: 100%;
    grid-template-areas:'textContent lines';
}
.textContent6 {
    @extend .cardTextContent;
       
}
.card7 {
    @extend .cards;
    top:630px;
    grid-template-areas:'lines textContent';
}
.textContent7 {
    @extend .cardTextContent;
}
.card8 {
    @extend .cards;
    top: 680px;
    right: 100%;
    grid-template-areas:'textContent lines';
}
.textContent8 {
    @extend .cardTextContent;
       
}
.finalContent {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    p {
        text-align: justify;
        font-size: 1.8rem;
    }
    button {
        width: 150px;
        padding: 5px;
    }
}
@media (max-width:1400px) {
    .cardTextContent {
        max-width: 25vw;
    }
    .card3 {
        top: 280px;
        grid-template-areas:'lines textContent';
    }
}
@media (max-width:1100px) {
    .finalContent {
        padding-top: 50px;
    }
    .point22 {
        top: 250px;
        width: 20px;
        height: 20px;
        display: block;
    }
    .point33 {
        top: 490px;
        width: 20px;
        height: 20px;
        display: block;
    }
    .point2, .point3 {
        display: none;
    }
    .careerContent {
        align-items: flex-start;
        padding-left: 20px;
    }
    .cardTextContent {
        max-width: 400px;
    }
    .firstPoint {
        left: -18px;
    }
    .card1 {
        top: 120px;
        grid-template-areas:'lines textContent';
    }
    .card2 {
        top: -10px;
        right: 50%;
        transform: translateX(100%);
        grid-template-areas:'lines textContent';
    }
    .card3 {
        top: 400px;
        grid-template-areas:'lines textContent';
    }
    .card4 {
        top: 270px;
        right: 50%;
        transform: translateX(100%);
        grid-template-areas:'lines textContent';
    }
    .card5 {
        top: 485px;
        grid-template-areas:'lines textContent';
    }
    .card6 {
        top: 645px;
        right: 50%;
        transform: translateX(100%);
        grid-template-areas:'lines textContent ';
    }
    .card7 {
        top:770px;
        grid-template-areas:'lines textContent';
    }
    .card8 {
        top: 910px;
        right: 50%;
        transform: translateX(100%);
        grid-template-areas:'lines textContent';
    } 
    
}
@media (max-width:640px) {
    .cardTextContent {
        max-width: 55vw;
        p {
            font-size: 1.2rem;
            text-align: justify;
        }
    }
}
@media (max-width:480px) {
    .cardTextContent {
        max-width: 70vw;
    }
    .cards{
        .lines {
            .line1 {
                display: none;
            }
            .line2 {
                width: 30px;
                height: 30px;
                border-bottom: 3px solid $bluestone;
            }
            .line3 {
                display: none;
            }
            .line5 {
                display: none;
            }
            .line6 {
                width: 15px;
                height: 30px;
                border-bottom: 3px solid $bluestone;
                border-left: none;
                border-right: 3px solid $bluestone;
            }
            .line8 {
                display: none;
            }
            .line9 {
                width: 15px;
                height: 30px;
                border-top: 3px solid $bluestone;
                border-left: none;
                border-right: 3px solid $bluestone;
            }
            .line10 {
                width: 30px;
                height: 30px;
                border-bottom: 3px solid $bluestone;
            }
        }
    
    }
}