@import '@/styles/variables.module.scss';

.conteiner {
    display: grid;
    grid-template-columns: .5fr 2.5fr 1fr;
    margin-top: 50px;
}
.tecnosContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.tecnologies1 {
    background: url('/reactIcon.svg') no-repeat;
    background-size: cover;
    width: 162px;
    height: 162px;
}
.tecnologies2 {
    background: url('/tsIcon.svg') no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.tecnologies3 {
    background: url('/nextjsIcon.svg') no-repeat;
    background-size: cover;
    width: 142px;
    height: 142px;
}
.aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    .cards {
        background-color: #005f5959;
        max-width: 700px;
        padding: 20px;
        border-radius: 0px 30px 0px 30px;
        p {
           font-size: 1.8rem; 
           text-shadow: 3px 3px 5px black;
           text-align: justify;
        }
        h3 {
            font-size: 2rem;
        }
    }
    .card3 {
        @extend .cards;
        text-align: center;
        p {
            text-align: center;
            margin-top: 10px;
        }
    }
}

.analytcsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.graph {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
        margin: auto;
    }
}
.barConteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
    border: 1px solid gray;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    padding: 10px 10px;

}
.barContent {
    background-color: rgba(128, 128, 128, 0.425);
    height: 10px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    .bar {
        background-color: $bluestone;
        height: 100%;
        border-radius: 5px;
    }
}