
.tecnologies1 {
    background: url('/reactIcon.svg') no-repeat;
    background-size: cover;
    width: 172px;
    height: 172px;
}
.tecnologies2 {
    background: url('/tsIcon.svg') no-repeat;
    background-size: cover;
    width: 122px;
    height: 122px;
}
.tecnologies3 {
    background: url('/nextjsIcon.svg') no-repeat;
    background-size: cover;
    width: 142px;
    height: 142px;
}